

.AboutUsPage img{
  width:100vw
}
.AboutUsPage h1 {
    margin-top:20px;
    font-size:40px;
    margin-bottom:20px;
    text-align:center
}
.AboutUsPage h1 span{
    background:linear-gradient(to right,#2B357D,#28A745);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

.AboutUsPage button{
      color:blue;
      background:none;
      border:none;
      cursor:pointer;
      margin-bottom:20px;
      margin-left:25%
}
.AboutUsPage #para2{
  margin-left:25%
}
.AboutUsPage #para1{
    margin-bottom:20px;
    text-align:center;
    color:gray;
    
}